@model WebApplication3.Models.CategoryViewModel

@foreach (var post in Model.Posts)
{
    @if (post.Posted != false)
    {
        <li>
            @await Html.PartialAsync("_PostPartial", post)
        </li>
    }

}
