@model WebApplication3.Models.Comment


@*<div class="col-md-4">
    <form asp-action="Details" asp-controller="Home" method="post">
        <p>
            <label>Commentary:</label>
            <input type="text" name="CContent">
            <input type="hidden" name="PostId" value=@Model.PostId>
        </p>
        <div class="form-group">
            <input type="submit" value="Create">
        </div>
    </form>
</div>*@