@model IEnumerable<WebApplication3.Models.Post>
@inject IViewLocalizer Localizer
<div>
    <h4>@Localizer["LastPosts"]:</h4>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                @await Html.PartialAsync("_PostLastPartial", post)
            </li>
        }
    </ul>
</div>

