@model IEnumerable<WebApplication3.Models.Post>

<div>
    <h4>Last articles:</h4>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                @Html.Partial("PostLastPartial", post)
            </li>
        }
    </ul>
</div>

