@model IEnumerable<WebApplication3.Models.Post>

<div class="col-md-8">
    @*@foreach (var post in Model)
    {
        @Html.Partial("PostPart", post)
        <hr/>
        <p>@post.Description</p>        
    }*@
</div>    
