@model WebApplication3.Models.Post

<div class="page-wrapper">
    <ul class="col-md-8">
        @Html.Partial("PostPartial", Model)
        <hr/>
        <p>@Html.Raw(Model.Description)</p>
    </ul>
    <div class="right-panel-wrapper">
        <div class="right-panel">
                @await Component.InvokeAsync("LastPosts", new {howMany = 2})
        </div>
    </div>      
      
</div>