@*@model IEnumerable<WebApplication3.Models.Post>*@
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model WebApplication3.Models.IndexViewModel
@addTagHelper *, WebApplication3
@{
    ViewData["Title"] = @Localizer["HomePage"];

}

<div class="page-wrapper">
    <ul class="col-md-8" id="posts">
        @await Html.PartialAsync("~/Views/Home/PostList.cshtml", Model.Posts)
    </ul>
    <div class="right-panel-wrapper">
        <div class="right-panel">
            <form method="get" asp-controller="Home" asp-action="Index">
                <p>
                    <select asp-for="PostCategory" asp-items="Model.Categories">
                        <option value="">@Localizer["All"]</option>
                    </select>
                    <input type="text" name="SearchString">
                    <input type="submit" value=@Localizer["Search"]>
                </p>
            </form>
            @await Component.InvokeAsync("LastPosts", new { howMany = 2 })
        </div>
    </div>
</div>
<page-link page-view-model="Model.PageViewModel" page-action="Index"></page-link>
@*<script src="~/js/notification.js"></script>
<script src="~/js/signalr/jquery.signalR.min.js"></script>
<script src="~/lib/signalr.js/jquery.signalR.js"></script>
<script src="~/lib/aspnet-signalr/signalr.js"></script>*@


