@model IEnumerable<WebApplication3.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <ul class="col-md-8">
        @foreach (var post in Model)
        {
            <li>
                @Html.Partial("PostPart", post)
            </li>
        }
    </ul>
</div>