@model IEnumerable<WebApplication3.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>

<div class="page-wrapper">
    <ul class="col-md-8">
        @foreach (var post in Model)
        {
            <li>
                @Html.Partial("PostPartial", post)
            </li>
        }
    </ul>
    <div class="right-panel-wrapper">
        <div class="right-panel">
            @await Component.InvokeAsync("LastPosts", new {howMany = 2})        
        </div>
    </div>  
</div>