@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Thanks for confirming your email! Now you can Log In.";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" model="Model.StatusMessage" />
