@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your passwaord has been successfully changed! Please, <a asp-page="./Login">click</a>, to log in.
</p>
