@model IEnumerable<WebApplication3.Models.Category>
@{
    ViewData["Title"] = "Create post";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <fieldset>
        <p><label>Category:</label>
            <select name="CategoryId">
                @foreach (var category in Model)
                {
                   <option value="@category.Id">@category.Title</option>
                }
            </select>
        </p>        
        <p><label>Title:</label>
            <input type="text" name="Title" size="120px"/>
        </p>
        <p><label>Short description:</label>
            <input type="text" name="ShortDescription" size="120px"/>
        </p>
        <p><label>Description:</label>
            <textarea id="editor1" name="Description"></textarea>
        </p>
        <input type="hidden" name="Posted" value="false" />
        <input type="submit" value="Submit">
    </fieldset>
</form>

