@{
    ViewData["Title"] = "Create post";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <label>Title:</label><br />
    <input type="text" name="title" /><br />
    <input type="submit" value="Submit">
</form>